<%= render 'layouts/navbar' %>

<main>
  <div class="page_header">
    <h1>プロフィールの編集</h1>
  </div>

  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>

        <div class="profile-image">
          <figure>
            <% if @user.image? %>
              <%= image_tag @user.image.url, class:"rounded-circle icon_image mr-2 mb-2" %>
            <% else %>
              <%= image_tag "noimage_120.png", class:"rounded-circle icon_image mr-2 mb-2" %>
            <% end %>
          </figure>
        </div>

        <div class="form-group">
          <%= f.file_field :image %>
          <%#<%= f.hidden_field :image_cache %>
        </div>

        <div class="form-group">
          <%= f.label :name, "ユーザー名" %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :biography, "自己紹介" %>
          <%= f.text_area :biography, class: 'form-control', rows: 7, maxlength: 255 %>
        </div>

        <p class="text-center">
          <span class="update-btn"><%= f.submit "更新", class: 'btn btn-primary' %></span>
        </p>
      <% end %>
    </div>
  </div>
</main>