<%= render 'layouts/navbar' %>

<main class="container-fluid">

  <div class="row">
    <div class="col-sm-12 page_header">
      <h1><%= @user.name %></h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-8 offset-sm-2">

<%= render 'user', user: @user %>
<%= render 'users', users: @followers %>
<%= render 'withdraw_button', user: @user %>

    </div>
  </div>

</main>