<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Yumetabi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item"><%= link_to "検索", root_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to "卓一覧", desks_path, class: 'nav-link' %></li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item"><%= link_to "プロフィール", user_path(current_user.id) %></li>
            <li class="dropdown-item"><%= link_to "ログアウト", logout_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>